<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="e-banking">
  
  <listeners>
  	<listener class-name="com.ebanking.utilities.Reporting"/>
  </listeners>
  <test name="Banking Test">
      <parameter name="browser" value="chrome"/>
      <classes>
      <class name="com.ebanking.testCases.TC_LoginTest_001"/>
<!--       <class name="com.ebanking.testCases.TC_LoginDataDriventest_002"/> -->
<!--       <class name="com.ebanking.testCases.TC_AddCustomerTest_003" /> -->
      </classes>
  </test> <!-- Test --> 
   
</suite> <!-- Suite -->
